
.container-1{
    background-color:rgb(35, 49, 58);
    /* opacity: 0; */
    width: 100%;
    height: 80px;
    border-bottom: 2px solid rgb(0, 149, 255); 
    position: sticky;
    /* padding-top: 20px; */
    top: 0;
    z-index: 99;
  
}
.nav{
    justify-content: space-between;
   
}
.nav ul{
    float: right;
    display: flex;
}
.nav ul li{
    list-style: none;
    margin-right: 10px;
    line-height: 50px;
}
.nav ul li .li{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
     color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
}
.nav ul li .li:hover{
    color: white;
    background-color: rgb(29, 140, 219);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(138, 139, 139);
}
.nav ul li .li i{
    font-size: 20px;
    margin-right:10px;
}
.logo{
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
}
.logo i{
    color: white;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 20px;
}
.container-2{
    width: 100%;  
    height: 90vh;
   position: relative;
}
.container-2 img{
    width: 100%;
    height: 90vh;
    filter: brightness(0.4);
}
.head{
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    padding-left: 150px;
}
.head-p{
    color:rgb(0, 149, 255);
    font-size: 15px;
    font-weight: bold;
}
.head-h{
    color: white;
    font-size: 7vw;
    font-weight: bold;
   

}
.head-btn{
    background: none;
    padding: 25px 50px 25px 50px;
    border: 1px solid white;
    color:white;
    font-weight: bold;
    margin-top: 50px;
    border-radius: 50px;
}
.head-btn:hover{
    background-color: white;
    color: black;
}